.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 2px solid black;
}

li {
  list-style: none;
}

.event-name {
  margin-right: 5px;
}

li:first-child .move-up, li:last-child .move-down {
  /* visibility: hidden; */
  pointer-events: none;
  color: #ccc;
}